<div class="main-content">
  <div class="container-fluid">
      <div class="container">
      <div class="row">
          
          <div class="col-lg-12">  
            <div class="search-div">
              <div class="row">
              
          <div class="col-lg-4" style="padding-right:2px;">
            <mat-form-field class="search-form-field" floatLabel="never">
              <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-lg-8">
          <form  [formGroup]="form">
            <div class="row">
              <div class="col-lg-3" >
                <div class="add-bottom-padding">
             <!--        <mat-radio-group  formControlName="ctype" (change)="radioChange($event)">
                        <mat-radio-button checked value="All">All</mat-radio-button>
                      <mat-radio-button value="Amex">Amex</mat-radio-button>
                  
                    </mat-radio-group> -->
                    <mat-form-field>
                      <mat-select formControlName="ctype"  placeholder="Select Member"
                      style="font-size: 14px;" (selectionChange)="radioChange($event)" >
                          <mat-option value="All" >All</mat-option>
                          <mat-option value="Amex">Amex</mat-option>
                      </mat-select>                              
                    </mat-form-field>
                  </div>
              </div>
              <div class="col-md-7">
                <div class="row" >
                  <div class="col-lg-7">
                <mat-form-field>
                  <mat-select formControlName="datetype"  placeholder="Select Date Search"
                    (selectionChange)="showdatepicker($event.value)" style="font-size: 14px;"  [(ngModel)]="selectedOption" required>
                 
                   <!--    <mat-option value="{{fuel.description}}">{{fuel.description}}</mat-option> -->
                      <mat-option value="1" >Date : From the Beginning</mat-option>
                      <mat-option value="2">Date : From - To</mat-option>
                   
                  </mat-select>
                  <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                  </div>
                  <div class="col-md-7">
                    <div class="row" id="rwdate" style="display:none;">
                      <div class="col-md-6">
                        <mat-form-field>
                            <input formControlName="startdate" matInput [matDatepicker]="picker" (dateChange)="updateCalcs($event)" placeholder="From Date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker ></mat-datepicker>
                          </mat-form-field>
                        </div>
                          <div class="col-md-6">
                          <mat-form-field>
                              <input  formControlName="enddate" matInput [matDatepicker]="spicker" (dateChange)="updateCalcs($event)" placeholder="To Date">
                              <mat-datepicker-toggle matSuffix [for]="spicker" ></mat-datepicker-toggle>
                              <mat-datepicker #spicker ></mat-datepicker>
                            </mat-form-field>
                          </div>
                    </div>
                    </div>

                </div>
               
              </div>
              <div class="col-lg-2">
                <button mat-fab style="color: #fafafa;background: linear-gradient(60deg, #f44336, rgba(210, 21, 21, 0.87));padding: 0px;    margin-left: -12px;" (click)="exportAsXLSX()">
                  <mat-icon>get_app</mat-icon>
                </button>
              </div>
          </div>
          </form>
        </div>            
          </div>
          </div>
          <div class="card" style="margin-top: 8px;">
              <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon" style="background: linear-gradient(60deg, #1c32ad, #3f51b5);">
                  <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title ">Customers Table</h4>
              </div>
              <div class="card-body">



<div>
  <mat-table [dataSource]="listData"  matSort>

      <ng-container matColumnDef="slno">
          <mat-header-cell *matHeaderCellDef >#</mat-header-cell>
          <mat-cell *matCellDef="let element; let j = index"> 
            {{ (j+1) + (myPaginator.pageIndex * myPaginator.pageSize) }} </mat-cell>
        </ng-container>
        
    <ng-container matColumnDef="fullname">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Fullname</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fullname}}</mat-cell>
    </ng-container>
   <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>City</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.city}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Phone</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element"><span style="font-size: 11px;">{{element.email}}</span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="platformtype">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Platform</mat-header-cell>
      <mat-cell *matCellDef="let element"><span style="font-size: 12px;">{{element.platformtype}}</span></mat-cell>
          
    </ng-container>
    <ng-container matColumnDef="amextype">
      
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let element" >{{element.amextype}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="maincredits">
      <mat-header-cell *matHeaderCellDef   >Credits</mat-header-cell>
      <mat-cell *matCellDef="let element"><div style="font-size: 11px;display:block;">{{ element.maincredits }}</div></mat-cell>
    </ng-container>
    <ng-container matColumnDef="couponcode">
      <mat-header-cell *matHeaderCellDef   >Coupon</mat-header-cell>
      <mat-cell *matCellDef="let element"><div style="font-weight: 700;font-size: 11px;"> {{ element.couponcode}}</div></mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdon">
      <mat-header-cell *matHeaderCellDef   >Created on</mat-header-cell>
      <mat-cell *matCellDef="let element"><span style="font-size: 12px;">{{ element.createdon.seconds * 1000 | date:'dd-MMM-yyyy hh:mm:ss a' }}</span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="active">
      <mat-header-cell   *matHeaderCellDef>Active</mat-header-cell>
      <mat-cell *matCellDef="let element"><span style="font-size: 12px;">{{element.active}}</span></mat-cell>
    </ng-container>
  <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell  *matCellDef="let row">
        <button mat-icon-button color="warn"  matTooltip="Delete Customer" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
        <button  mat-icon-button color="warn"  matTooltip="Downgrade AMEX member to Normal Hype Customer (For AMEX members only)" (click)="onDowngrade(row.id)"><mat-icon>more_horiz</mat-icon></button>
        | 
           <button mat-icon-button matTooltip="AMEX Coupon Code 25% Discount (For AMEX members only)" (click)="onEdit(row)"><mat-icon style="color: #2e42b1;">launch</mat-icon>
            </button>
          </mat-cell> 
      
    </ng-container> 
    <!-- <ng-container matColumnDef="membertype">
      <mat-header-cell   *matHeaderCellDef>AMEX</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="{'hide':!(element.membertype.length==0)}"><span style="font-size: 12px;">{{element.membertype}}</span></mat-cell>
    </ng-container> -->
   <!--  <ng-container *ngIf="element.membertype.length == 1">
      <mat-cell *matCellDef="let element" >
        Admin          
      </mat-cell>
    </ng-container> -->
<!--     <ng-container matColumnDef="membertype">
      <mat-header-cell *matHeaderCellDef>Amex Actions</mat-header-cell>
      <mat-cell  *matCellDef="let row" ngIf="{{row.membertype.length == 1}}">
     
            <button  mat-icon-button color="warn"  matTooltip="Downgrade AMEX member to Normal Hype Customer (For AMEX members only)" (click)="onDowngrade(row.id)"><mat-icon>more_horiz</mat-icon></button>
 | 
    <button mat-icon-button matTooltip="AMEX Coupon Code 25% Discount (For AMEX members only)" (click)="onEdit(row)"><mat-icon style="color: #2e42b1;">launch</mat-icon>
     </button>
  
          </mat-cell> 
      
    </ng-container> -->

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator  #myPaginator  [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="25" showFirstLastButtons></mat-paginator>
</div>
</div>

</div>
</div>
</div>
</div>
            </div>
          </div>
      
