.mat-column-email {
  
    min-width: 160px !important;
}
.mat-column-amextype {
  
    max-width: 35px !important;
}
.mat-column-phone {
  
    min-width: 84px !important;
}
.mat-column-active {
  
    max-width: 39px !important;
}
.mat-column-actions {
  
    min-width: 130px !important;
}
.mat-column-maincredits {
  
    max-width: 40px !important;
}
.mat-column-couponcode {
  
    max-width: 65px !important;
}
/* .mat-column-actions {
  
    min-width: 90px !important;
}
.mat-column-membertype {
  
    min-width: 90px !important;
}
.mat-column-phone {
  
    min-width: 84px !important;
}
.mat-column-active {
  
    max-width: 39px !important;
} */