.pl
{
    padding-left: 0px;
}
.pr
{
  padding-right: 0px;
}
.mat-cell {
  font-size: 12px;
}
.mat-column-booking_id {

  font-weight: 500!important;
}
.mat-column-actions {
  min-width: 72px !important;
}
.cdk-column-carname,.cdk-column-phone
{
min-width: 68px!important;
}