<div class="main-content">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header ">
                                <mat-icon id="close-icons" style="float:right;cursor: pointer;" (click)="closeDialog()">close</mat-icon>
                    
                            <h4 class="card-title">View Self-drive - <small class="description">
                                    Booking Details </small></h4></div>
               <div class="card-body ">
             <ul class="nav nav-pills nav-pills-warning" role="tablist">
          <li class="nav-item">
       <a class="nav-link  active show" data-toggle="tab" href="#link1" role="tablist"> Summary </a>
    </li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#link2" (click)="bindgrid(service.smsbookingid)" role="tablist">
         Other Details </a></li></ul>
         
         
         
         <div class="tab-content tab-space" style="padding-top: 30px;    min-height: 345px;">
                     <div class="tab-pane active show" id="link1"> 
                            <div class="row">
                         <div class="col-lg-6"><h6 style="display:inline">Email: </h6>{{service.email}}<br><h6 style="display:inline">Pickup Address: </h6>{{service.pickup_address}}<br><h6 style="display:inline">Booking Source: </h6>{{service.booking_source_id}}&nbsp;<b>{{service.mplatform}}</b>
                          <br><h6 style="display:inline">Car Type: </h6>{{service.ltype}}
                          <hr>
                          <h6 style="display:inline">Start Date: </h6>{{service.start_date}} - {{service.start_time}}<br>
                          
                          <h6 style="display:inline">End Date: </h6>{{service.end_date}} - {{service.end_time}}<br>
                          
                          <h6 style="display:inline">Duration (Days): </h6>{{service.days}}<br><h6 style="display:inline">Price / Day (Rs.): </h6>{{service.basic_rental}}<br><h6 style="display:inline">Basic Rental (Rs.): </h6>{{service.amount}}  <hr><h6 style="display:inline">Extra Kms: </h6>{{service.extra_kms}}<br><h6 style="display:inline">Charge / Extra Km (Rs.): </h6>{{service.charge_per_exta_km}}<br><h6 style="display:inline">Extra Kms Rental (Rs.): </h6>{{service.extra_kms_rental}}
                        </div>
                         <div class="col-lg-6" style="border-left: 1px solid #d2d2d2;"><div class="modal-body"><h6 style="display:inline">Coupon Code: </h6>{{service.coupon_code}}<br><h6 style="display:inline">Coupon Discount (%): </h6>{{service.coupon_discount_percentage}}<br>
                         <h6 style="display:inline">Discounted Amount (Rs.): </h6>{{service.coupon_discount}}
                         <br>
                         <h6 style="display:inline">Hype Discount Amount (Rs.): </h6>{{service.creditused}}<hr>
                           <hr>
                           <h6 style="display:inline">Agent </h6>{{service.agent_name}}<br><hr>
                           <hr>
                           <h6 style="display:inline">Deposit (Rs.): </h6>{{service.deposit}}<br>
                         
                           <h6 style="display:inline">Total Amount (Rs.): </h6>{{service.amount}}
                          </div> </div>
                     </div>
                        </div>
                         <div class="tab-pane" id="link2"> 
                           
                       
                          <mat-table [dataSource]="listData"  matSort> 
                          <ng-container matColumnDef="drivername">
                            <mat-header-cell *matHeaderCellDef  mat-sort-header>Drive Name</mat-header-cell>
                            <mat-cell *matCellDef="let element" style="font-weight: 700;">{{element.drivername}}</mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="driverphone">
                              <mat-header-cell *matHeaderCellDef  mat-sort-header>Driver Phone No.</mat-header-cell>
                              <mat-cell *matCellDef="let element"  style="font-weight: 700;">{{element.driverphone}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="driverreg">
                                <mat-header-cell *matHeaderCellDef  mat-sort-header>Vehicle Reg. No.</mat-header-cell>
                                <mat-cell *matCellDef="let element"  style="font-weight: 700;">{{element.driverreg}}</mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="secretcode">
                                  <mat-header-cell *matHeaderCellDef  mat-sort-header>Secret Code</mat-header-cell>
                                  <mat-cell *matCellDef="let element"  style="font-weight: 700;">{{element.secretcode}}</mat-cell>
                                </ng-container>
                            
                                <ng-container matColumnDef="status">
                                  <mat-header-cell *matHeaderCellDef  mat-sort-header>Status</mat-header-cell>
                                  <mat-cell *matCellDef="let element"  style="font-weight: 700;">{{element.status}}</mat-cell>
                                </ng-container>
                           
                                <ng-container matColumnDef="createdon">
                                    <mat-header-cell *matHeaderCellDef  mat-sort-header>Created on</mat-header-cell>
                                    <mat-cell *matCellDef="let element" style="padding-right: 10px;font-weight: 700;">{{ element.createdon.seconds * 1000 | date:'dd-MMM-yyyy hh:mm:ss a' }}</mat-cell>
                                  </ng-container>
                       
                        
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                          
                           
                         
                        </mat-table>
                        
                        </div>
                       </div></div></div></div>
         
      </div>
  </div>
</div>

